body{
  font-size: 20px;
}
.line{
  width: 200px;
  border-left: 15px solid whitesmoke;
  border-right: 15px solid whitesmoke;
  padding: 10px 0px 10px 0px;
  margin: 20px auto;
}
a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: 4576ba;
  display: block;
  padding: 10px;
}
#down {
  border-bottom: 1px solid gray;
}
ul {
  margin: 0px;
  list-style-type: none;
  text-align: center;
  padding-left: 0px;
}
li {
  border-top: 1px solid gray;
}

a:hover{
  background-color: 4576ba;
  color: white;
}
