body{
  font-family: "Times New Roman", serif;
  font-size: 17px;
}
.block{
  width: 245px;
  background: #eaf0f0;
  margin: 20px auto;
  border-radius: 5px;
  padding: 20px;
}
q{
  margin: 0 0 30px 0;
  font-style: italic;
  line-height: 0.9;
  font-size: 27px;
}
cite{
  font-style: normal;
  color: #457d7c;
  font-family: sans;
}
